@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&display=swap');
@font-face {
    font-family: Behrens KursivC;
    src: url('./fonts/Behrens\ KursivC/BehrensKursivC.ttf');
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f0e5cc;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

}
header {
    color: #3b3b3b;
    position: relative;
}

header .logo {
    width: 100px;
    position: absolute;
    left: 100px;
    cursor: pointer;
    transition: opacity 0.5s ease-in;
    
    
}
header .logo:hover{
    opacity: 0.8;
}

header .favorite_moments{
    color: #393939;
    font-size: 22px; 
    position: absolute;
    left: 11%;
    padding-top: 50px;
    font-family: Behrens KursivC;
    cursor: pointer;

}



header ul.nav{
    font-size: 18px;
    position: relative;
    margin-right: 125px;
    margin-top: 55px;
    list-style: none;
    float: right;
}


header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease-in;
}
header ul.nav li:hover{
    opacity: 0.7;
}

header .presentation{
    position: absolute;
    border-radius: 12%;
    background: url(./img/presentation.jpg);
    width: 100%;
    height: 700px;
    margin-top: 130px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f0e5cc;

}

header .presentation::after{
    position: absolute;
    content: "Лучшие моменты передаются фотографией";
    top: 130px;
    left: 150px;
    width: 250px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}


footer {
    position: absolute;
    top: 100%;
    left: 50%;
}