@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&display=swap');
@font-face {
    font-family: Behrens KursivC;
    src: url('./fonts/Behrens\ KursivC/BehrensKursivC.ttf');
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f0e5cc;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

}


.wrapper {
    width: 1200px;
    margin: 50px auto;
}

header {
    position: relative;
}

header .logo{
    width: 100px;
    margin-top: -50px;
    padding: 0;
    color: #f0e5cc;
    transition: all 1s;
}

header::before{
    
    font-family: Behrens KursivC;
    content: "Лучшие моменты";
    position: absolute;
    
    left: 90px;
    color: #474645;
    
    font-size: 25px;
    font-weight: 300;
}
header::before:hover{
    color: black;
}

header ul.nav{
    display: flex;
    float: right;
    list-style: none;
}

header ul.nav li {
    
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease-in;
}

header ul.nav li:hover {
    opacity: 0.5;
}


a{
    text-decoration: none;
    color: black;
}

header .logo:hover{
    opacity: 0.7;
}

header .presentation{
    border-radius: 8%;
    margin: 10px 0;
    background: url('img/presentation.jpg');
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-blend-mode: multiply;
    background-size: cover;
}

header .presentation::after{
    position: absolute;
    content: "Лучшие моменты передаются фотографией";
    top: 250px;
    left: 60px;
    color: #fff;
    width: 200px;
    font-size: 40px;
    font-weight: 600;
}







footer {
    text-align: center;
    margin-top: 100px;
}

