@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&display=swap');
@font-face {
    font-family: Behrens KursivC;
    src: url('./fonts/Behrens\ KursivC/BehrensKursivC.ttf');
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f0e5cc;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

}


.wrapper {
    width: 1200px;
    margin: 50px auto;
}

header {
    position: relative;
}

header .logo{
    width: 100px;
    margin-top: -50px;
    padding: 0;
    color: #f0e5cc;
    transition: all 1s;
}

header::before{
    
    font-family: Behrens KursivC;
    content: "Любимые моменты";
    position: absolute;
    
    left: 90px;
    color: #474645;
    
    font-size: 25px;
    font-weight: 300;
}
header::before:hover{
    color: black;
}

header ul.nav{
    display: flex;
    float: right;
    list-style: none;
}

header ul.nav li {
    
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease-in;
}

header ul.nav li:hover {
    opacity: 0.5;
}


a{
    text-decoration: none;
    color: black;
}

header .logo:hover{
    opacity: 0.7;
}

header .presentation{
    border-radius: 8%;
    margin: 10px 0;
    background: url('img/presentation.jpg');
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-blend-mode: multiply;
    background-size: cover;
}

header .presentation::after{
    position: absolute;
    content: "Лучшие моменты передаются фотографией";
    top: 250px;
    left: 60px;
    color: #fff;
    width: 200px;
    font-size: 40px;
    font-weight: 600;
}



.our_job {
    border-radius: 3%;
    
    height: 900px;
    
    margin-top: 50px;
    text-align: center;
    font-size: 45px;
}

.active {
    background-color: red;
    width: 70px;
    height: 1px;

}
.home.active{
    margin-top: 25px;
    position: absolute;
    left: 69%;
    
}
.contacts_open.active{
    width: 75px;
    margin-top: 25px;
    position: absolute;
    left: 78%;
}

.service.active{
    width: 60px;
    position: absolute;
    margin-top: 25px;
    left: 87.5%;
}


.about_us.active{
    width: 55px;
    position: absolute;
    margin-top: 25px;
    left: 95.3%;

}


.slider{
    overflow: hidden;
    margin: 30px auto;
    
}

.slider img{
    border-radius: 2%;
    height: 800px;
    width: 1200px;
    
}

#slider-line{
    display: flex;
    position: relative;
    height: 800px;
    width: 4800px;
    left: 0;
    transition: all ease 1s;
    
}

.feedback{
    margin-top: 50px;
    text-align: center;
    font-size: 45px;
}
button{
    position: relative;
    bottom: 80px;
    width: 20px;
    height: 20px;
    border: 0px;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 90%;
    transition: all 2s ease-in;
}
button:hover{
    background-color: rgb(53, 49, 49);
}

footer {
    text-align: center;
    margin-top: 100px;
}

